<style>
    .btnadmin{
        
        margin-top: 15%;
        text-align: center;
    }
    
</style>
<!-- As a heading -->
<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand mb-0 h1 " style="color: white;" href="/adminhome">RYTHU BASKET</a>

  

  <a class="my-2 my-lg-0 h5" style="color: white;"  stylehref="#">Logout</a>
</nav>


<div class="container btnadmin">
    <a class="btn btn-success btnadd" href="/adminaddproduct">Add Product</a>
    <a class="btn btn-success btnorder" href="/adminvieworder">View Orders</a>
</div>