
<script>
  // Your web app's Firebase configuration //this too
  var firebaseConfig = {
    apiKey: "AIzaSyB0M8Qrwze4wrkRKz6NBZQ5N4ZeVMzsCCU",
    authDomain: "groceryapp-dbf52.firebaseapp.com",
    databaseURL: "https://groceryapp-dbf52.firebaseio.com",
    projectId: "groceryapp-dbf52",
    storageBucket: "groceryapp-dbf52.appspot.com",
    messagingSenderId: "1019129350835",
    appId: "1:1019129350835:web:3e906efe26a991f1747ec6",
    measurementId: "G-0W3P8WERJT"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
    
<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand mb-0 h1 " style="color: white;" href="/adminhome">RYTHU BASKET</a>

  

  <a class="my-2 my-lg-0 h5" style="color: white;"  stylehref="#">Logout</a>
</nav>

        {{!-- <form method="post" action="/adminaddproduct">
  <label for="fname">Product name</label>
  <input type="text" id="pname" name="pname"><br><br>
  <label for="lname">product description</label>
  <input type="text" id="pdes" name="pdes"><br><br>
  <label for="lname">product price</label>
  <input type="text" id="price" name="price"><br><br>
  <label for="lname">product image url</label>
  <input type="text" id="purl" name="purl"><br><br>
  <input type="text" id="pcat" name="pcat"><br><br>
  <input type="submit" value="Submit"> --}}


{{!-- </form> --}}


<div class="container">
  <form action="/adminaddproduct" method="POST">
  <div class="form-group">
    <label for="pname">Product Name</label>
    <input type="text" class="form-control" id="pname" placeholder="Product Name" name="pname" required>
  </div>
  <div class="form-group">
    <label for="pdes">Product Description</label>
    <input type="text" class="form-control" id="pdes" placeholder="Product Description" name="pdes" required>
  </div>
  <div class="form-group">
    <label for="pprice">Product Description</label>
    <input type="tel" class="form-control" id="price" placeholder="Product Price" name="price" required>
  </div>
  <div class="form-group">
    <label for="purl">Product Image URL</label>
    <input type="text" class="form-control" id="price" placeholder="Product Image" name="price" required>
  </div>
  <div class="form-group">
    <label for="pcat">Product Category</label>
    <select name="pcat" class="form-control" id="pcat" placeholder="Select Category" required>
      <option value="Vegetables">Vegetables</option>
      <option value="Fruit & Flowers">Fruit & Flowers</option>
      <option value="Dry Fruits">Dry Fruits</option>
      <option value="Meat & Sea Food">Meat & Sea Food</option>
      <option value="Health Care">Health Care</option>
      <option value="Grocery">Grocery</option>
      <option value="Personal Care">Personal Care</option>
      <option value="Puja Needs">Puja Needs</option>
      <option value="House Services">House Services</option>
      <option value="Other">Other</option>
    </select>
    </div>
    <div style="text-align:center">
    <input type="submit" class="btn btn-success" value="Submit">
  </div>
  </form>
  </div>

</div>
    

