<div class="containeer">
    <div class="home">
    <div class="cardt">
        <div class="heading">
            <p>WELCOME ADMIN</p>
        </div>
        
        <div class="btn">
         <a type="button" class="btn btn-light btnLeft" href="/login">Login Here</a>
        </div>
       </div>
</div>
</div>

