*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containeer{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(100,150,190,.5),rgba(100,190,100,.6)), url(../images/home.png) center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 18%;
    overflow: hidden;
    position: relative;
}
.cardt{
    width: 100%;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;

}
.heading{
    font-size: 40px;
    font-weight: 400;
    color: white;

    animation: moveLeft 2s;
    
}
.next{
    font-size: 30px;
    font-weight: 300;
    color: white;
    animation: moveRight 2s;
}
.btnLeft{
    animation: btns 2s;
    /* animation-delay: 1.5s; */
    /* animation-fill-mode: backwards; */
    
}
.btnLeft :hover{
    background-color: blue;
}
.btnRight{
    margin-left: 20px;
    animation: btns 2s;
    animation-delay: 2.4s;
    animation-fill-mode: backwards;
}
@keyframes moveLeft{
    0% {
        tranform: translateX(120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveRight{
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes btns{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}